@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header.dash {
    padding: 0 10%;
    font-family: 'Nunito', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

span.text-o {
    color: orange;
}

span.bold {
    font-weight: 600;
}

header .circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    color: white;
}

main.dash {
    display: grid;
    grid-template-columns: 100%;
    grid-template-columns: 100%;
}

p {
    width: 80%;
    margin: auto;
}