* {
    font-family: 'Nunito', sans-serif;
}

#educ {
    background: 50% 10%/300px url('../images/awards.png') no-repeat;
        
    font-family: 'Nunito', sans-serif;
    line-height: 1;

    grid-row: 1/2;
    grid-column: 1/2;

    display: none;
}

.courses {
    margin-top: 20rem;
    padding: 0 10%;
}

.courses-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 2rem;
}

.course {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 1rem 0;
    text-align: left;
}

.course span {
    color: #ccc;
}

.course p {
    margin: 20px 0;
}

.enter-course {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enter-course button {
    background: orange;
    color: white;
    height: 3rem;
    width: 50%;
    border: none;
    border-radius: 5px;
}

.payed .course{
    position: relative;
}

.payed .enter-course {
    margin-top: 5rem;
}

.payment {
    position: absolute;
    right: 5%;
    bottom: 4rem;
    text-align: right;
}

.payment i {
    margin: 5px;
}

.fa-unlock {
    color: green;
}

.fa-lock {
    color: red;
}

.fa-cc-visa {
    color: rgb(150, 0, 27);
}

.fa-cc-paypal {
    color: rgb(25, 102, 138);
}

.fa-cc-mastercard {
    color: rgb(235, 114, 0);
}

@media (min-width:1024px) {
    #educ {
        background: 50% 10%/600px url('../images/awards.png') no-repeat;
    }

    .courses {
        flex-direction: row;
    }

    .courses-options {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .course {
        max-width: 30rem;
    }

    .course p {
        width: 80%;
    }

    strong {
        font-size: 2rem;
    }

   p {
       font-size: 1.4rem;
       margin-top: 2rem;
   }
}