* {
    font-family: 'Nunito', sans-serif;
}

#educ {
    background: 50% 10%/300px url('../images/awards.png') no-repeat;
        
    font-family: 'Nunito', sans-serif;
    line-height: 1;

    grid-row: 1/2;
    grid-column: 1/2;

    opacity: 0;
    pointer-events: none;
}

.courses {
    margin-top: 20rem;
    padding: 0 10%;
}

.courses-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 2rem;
}

.course {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 1rem 0;
    text-align: left;
}

.course span {
    color: #ccc;
}

.course p {
    margin: 20px 0;
}

.enter-course {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enter-course button {
    background: orange;
    color: white;
    height: 3rem;
    width: 50%;
    border: none;
    border-radius: 5px;
}

.enter-course i {
    color: green;
}