#events {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-bottom: 3rem;

    opacity: 0;
    pointer-events: none;
}

.events-cards {
    display: flex;
    overflow-x: scroll;
    padding: 0 10px;
    margin-top: 4rem;
}

.card {
    border: 1px solid #CCC;
    border-radius: 10px;
    margin: 0 10px;
    background: orange;
    color: white;
}

.card-info {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card img {
    width: 18rem;
    border-radius: 10px 10px 0 0;
}

.card-body {
    margin: 0 10%;
}

.card-body p {
    margin: 1.4rem 0;
}