@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

form {
    width: 90%;

    background: #FF9900;
    position: absolute;
    top: 24rem;
    left: 5%;

    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 3rem;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Barlow Condensed', sans-serif;
}

form.event {
    position: static;
    background: none;
    display: flex;
    flex-direction: column;
}

form.event p {
    margin: 3rem 0 0;
}

form.event textarea {
    width: 100%;
    height: 10rem;
    margin-top: 10px;
    resize: none;
}

.form-event {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.form-event h3 {
    align-self: flex-start;
}

form.event input {
    border: 1px solid  #ccc;
    width: 100%;
}

form.event .input-date input {
    width: 30%;
}

form.event .input-hour input {
    width: 50%;
    margin-left: 10px;
}

form.event .input-date input ~ input ~ input {
    width: 40%;
}

form label {
    font-size: 1.2rem;
    font-weight: 500;

    position: relative;
}

form label i {
    position: absolute;
    bottom: 27%;
    left: 5px;
    color: rgb(0,0,0,.4);
}

form input {
    height: 2.3rem;
    width: 95%;
    margin: 1rem 0;
    padding: 0 10%;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.subform {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    font-size: .7rem;
    height: 1rem;
}

.subform div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.subform label {
    margin-left: 5px;
    color: #F0F0F0;
}

.subform input {
    width: 1rem;
    border: 1px solid black;
}

.subform label {
    display: flex;
    flex-direction: row-reverse;
    font-size: .7rem;
}

.subform a {
    text-decoration: none;
    color: #8D8D8D;
}

form button {
    width: 95%;
    height: 3rem;
    margin-top: 2rem;
    border: 1px solid #ccc;
    background: #F0F0F0;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
}

form .no-account {
    margin: 20px auto 0;
    font-size: .7rem;
}

.input-date {
    display: flex;
}